---
import Layout from "../../layouts/Layout.astro";
import InvitationHero from "../../components/InvitationHero.astro";
import InvitationPageLoader from "../../components/InvitationPageLoader.astro";
import InvitationCountdown from "../../components/InvitationCountdown.astro";
import InvitationCouple from "../../components/InvitationCouple.astro";
import InvitationLoveStory from "../../components/InvitationLoveStory.astro";
import InvitationSweetMemory from "../../components/InvitationSweetMemory.astro";

export const prerender = false;

const raw = Astro.url.searchParams.get("to");

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Anis & Rizky Wedding" lang="id">
  <InvitationPageLoader />
  <main id="mainContent" class="transition duration-500">
    <InvitationHero />
    <InvitationCountdown client:load />
    <InvitationCouple />
    <InvitationLoveStory />
    <InvitationSweetMemory />
  </main>
  <!-- <InvitationEnvelope /> -->
</Layout>
