---
import id from "../../i18n/id.json";
import Layout from "../../layouts/Layout.astro";
import InvitationEnvelope from "../../components/InvitationEnvelope.astro";
import InvitationHero from "../../components/InvitationHero.astro";
import InvitationPageLoader from "../../components/InvitationPageLoader.astro";

export const prerender = false;

const raw = Astro.url.searchParams.get("to");

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title={id.common.weddingInvitation} lang="id">
  <InvitationPageLoader />
  <div id="mainContent" class="transition duration-500">
    <InvitationHero />
  </div>
  <InvitationEnvelope />
</Layout>
