---
import InvitationCounter from "./InvitationCounter.astro";
---

<section
  class="mt-16 flex flex-row relative gap-2 justify-evenly px-8 sm:mt-48"
>
  <InvitationCounter preset="days" />
  <InvitationCounter preset="hours" />
  <InvitationCounter preset="minutes" />
  <InvitationCounter preset="seconds" />
</section>

<script type="module" src="/scripts/countdown.js"></script>
