---
import { Image } from "astro:assets";
import AnisRizky from "../assets/images/anis_rizky.png";
import FlowerArrangements from "../assets/images/flower_arrangements.png";
---

<div class="flex flex-col sm:items-center sm:justify-center">
  <div class="flex flex-col sm:flex-row h-auto sm:w-8/12">
    <div class="flex-1 flex justify-end">
      <Image src={AnisRizky} alt="Anis & Rizky" class="sm:w-[650px]" />
    </div>
    <div
      class="bg-[#f0e6ef] flex-1 pt-14 pb-20 text-center flex justify-center flex-col gap-5 sm:py-0 sm:rounded-tr-[34em] sm:gap-10"
    >
      <div class="flex flex-col font-monallesia text-5xl gap-3 sm:text-7xl  sm:gap-6 text-[#515A44]">
        <span>Anis</span>
        <span>&</span>
        <span>Rizky</span>
      </div>
      <div class="text-[#707070] font-light text-lg mt-7 sm:text-2xl  sm:mt-12">
        We Are Getting Married In
      </div>
      <div class="text-[#87748F] font-semibold text-xl sm:text-5xl ">12 . 12 . 2012</div>
    </div>
  </div>
  <Image src={FlowerArrangements} alt="Flower Arrangements" class="absolute h-auto w-auto -bottom-4/12 sm:bottom-1/12" />
</div>
