---
import InvitationCounter from "./InvitationCounter.astro";
---

<section
  class="mt-16 flex flex-col justify-between items-center relative gap-10 sm:flex-row sm:justify-evenly sm:px-24 sm:pt-40"
>
  <InvitationCounter preset="days" />
  <InvitationCounter preset="hours" />
  <InvitationCounter preset="minutes" />
  <InvitationCounter preset="seconds" />
</section>

<script type="module" src="/scripts/countdown.js"></script>