---
import id from "../i18n/id.json";
import { Image } from "astro:assets";
import AnisRizky from "../assets/images/anis_rizky.png";
import SideFlower from "../assets/images/side_flower.png";
---

<!-- bg-[#7169a7] -->
<section
  id="invitationEnvelop"
  class="fixed inset-0 z-50
 bg-[#f0e6ef] min-w-full min-h-full transition-all duration-1000 ease-out"
>
  <div
    class="absolute min-w-screen h-[50vh] flex flex-row items-center justify-between z-0"
  >
    <Image
      src={SideFlower}
      alt="Flower Left"
      height={200}
      format="webp"
      loading="eager"
      fetchpriority="high"
    />
    <Image
      src={SideFlower}
      alt="Flower Right"
      height={200}
      format="webp"
      class="scale-x-[-1]"
      loading="lazy"
    />
  </div>
  <div class="py-12 flex flex-col gap-12 items-center z-10">
    <Image
      src={AnisRizky}
      alt="Anis & Rizky"
      height={200}
      format="webp"
      loading="eager"
      fetchpriority="high"
    />
    <div
      class="flex flex-col gap-3 items-center font-monallesia text-center px-2 text-black"
    >
      <span class="text-xl">{id.common.wedding}</span>
      <span class="text-black pt-4 pb-10 text-4xl text-shadow-sm"
        >Rizky & Anis</span
      >
      <span class="text-sm">Kepada Yth, Bapak/Ibu/Saudara/i</span>
      <span
        class="text-xl opacity-0 transition"
        id="guest"
        data-default="Tamu Undangan">-</span
      >
      <span class="text-xs"
        >Silakan klik tombol di bawah untuk membuka undangan Pernikahan.</span
      >
    </div>
    <button
      id="openButton"
      class="bg-[#515a44] text-white py-2 px-4 rounded-md transition active:ring-amber-900 active:ring-1 active:brightness-90 active:scale-95"
      >Buka Undangan</button
    >
  </div>
</section>

<script is:inline>
  (() => {
    const guestEl = document.getElementById("guest");
    const mainContentEl = document.getElementById("mainContent");
    let guestValue = new URLSearchParams(location.search).get("to");

    if (guestValue) {
      guestValue = guestValue.replace(/\s+/g, " ").trim();

      if (/^[\w .,'-]{1,40}$/.test(guestValue)) {
        guestEl.textContent = guestValue;
      } else {
        guestEl.textContent = guestEl.dataset.default;
      }
    } else {
      guestEl.textContent = guestEl.dataset.default;
    }

    guestEl?.classList.remove("opacity-0");

    const openButton = document.getElementById("openButton");
    const envelop = document.getElementById("invitationEnvelop");

    openButton?.addEventListener("click", () => {
      mainContentEl.classList.remove("hidden");
      envelop.style.opacity = "0";
      envelop.style.pointerEvents = "none";
      envelop.style.transform = "translateY(-20px)";
    });
  })();
</script>
