<div
  id="pageLoader"
  class="-z-10 transition absolute min-h-screen min-w-full flex items-center justify-center"
>
  <div
    class="w-10 h-10 border-4 border-[#87748F] border-dashed rounded-full animate-spin"
  >
  </div>
</div>
